/* 1. Tailwind Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Estilos globales */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Estilos para el body y la pantalla completa */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;  /* Asegura que ocupe todo el ancho */
  min-height: 100vh; /* Asegura que ocupe toda la altura */
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

/* 4. Estilos para la etiqueta <a> */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* 5. Estilos para el título */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

/* 6. Estilos para botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* 7. Estilos para el esquema claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* 8. Responsividad (aplicación móvil y pantallas más pequeñas) */
@media screen and (max-width: 640px) {
  body {
    padding: 1em;
  }

  h1 {
    font-size: 2em;
  }

  button {
    font-size: 0.9em;
  }
}
